[Unit]
Description=JX Online - Database Server
Wants=network-online.target syslog.target
Requires=pay-server.service relay-server.service

[Service]
WorkingDirectory=/jx/gateway
ExecStart=/jx/gateway/goddess_y
KillSignal=SIGINT
SyslogIdentifier=jx-goddess
User=root

[Install]
WantedBy=multi-user.target