[Unit]
Description=JX Online - Game Server
Wants=network-online.target syslog.target
Requires=pay-server.service relay-server.service database-server.service pay-client.service relay-client.service

[Service]
WorkingDirectory=/jx/server1
ExecStart=/usr/bin/wine /jx/gateway/jx_linux_y
KillSignal=SIGINT
SyslogIdentifier=jx-game-server
User=root

[Install]
WantedBy=multi-user.target