[Unit]
Description=JX Online - Bishop
Wants=network-online.target syslog.target
Requires=pay-server.service relay-server.service database-server.service

[Service]
WorkingDirectory=/jx/gateway
ExecStart=/usr/bin/wine /jx/gateway/bishop_y
KillSignal=SIGINT
SyslogIdentifier=jx-bishop
User=root

[Install]
WantedBy=multi-user.target