@page "/management"
@inherits JXOnlineWebComponentBase

<Card>
    <CardHeader>
        <h5 class="card-title">
            @L["Management_Title"]
        </h5>
    </CardHeader>
    <CardBody>
        @L["Management_Text"]
    </CardBody>
</Card>