@page "/"
@page "/services"

<PageTitle>Service Management</PageTitle>

<h1>Service Management</h1>

<div class="row mb-2">
    <div class="col-10">
        <div class="card">
            <div class="card-body">
                @foreach (var gameService in gameServices)
                {
                    <div class="row mb-2">
                        <div class="col-8"><span>@gameService.Info.Name</span></div>

                        <div class="col-4 text-end">
                            @if (gameService.Status == GameServiceProcessStatus.Running)
                            {
                                <button class="btn btn-primary">Stop</button>
                            }
                            else if (gameService.Status == GameServiceProcessStatus.Stopped)
                            {
                                <button class="btn btn-danger">Start</button>
                            }
                            else
                            {
                                <button class="btn btn-secondary" disabled>Waiting</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
